.main_nav {
  list-style: none;
  display: flex;
  background-color: slategray;
  padding: 20px;
}
.main_nav li a {
  color: inherit;
  padding: 0.8rem;
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;

  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}

.main_nav li a:hover {
  border-bottom: 3px solid white;
}
