.form {
  display: flex;
}

.form input {
  flex: 1;
  font-size: 2.25rem;
  padding: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  color: gray;
  text-align: center;
}

.btn_insert {
  padding: 0.5rem 3rem 0.5rem 3rem;
  margin-left: 1rem;
  border: 1px solid white;
  border-radius: 3px;
  color: #2bc0e4;
  cursor: pointer;
  border: none;
  font-size: 20px;
  background-color: white;
}

.btn_insert:hover {
  background: linear-gradient(80deg, #1a2980, #26d0ce, #085078, #85d8ce);
  animation: AnimationName 5s ease infinite;
  transition: 0.5s;
  color: white;
  background-size: 1000% 1000%;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
