.write {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.btn_save {
  padding: 5px;
  width: 80px;
  background-color: white;
  color: #282c34;
  margin: 0 480px;
  border: 1px solid lightgray;
}

.btn_save:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #282c34;
  color: white;
}

.write input {
  display: inline-block;
  padding: 10px;
  width: 50%;
  outline: none;
  border: 1px solid lightgray;
  margin: 3px auto;
}

div.write div:last-of-type {
  text-align: right;
}

div.bbs_detail {
  width: 70vw;
  margin: 20px auto;
}

div.bbs_detail label,
div.bbs_dtail span {
  display: inline-block;
  margin: 0;
  padding: 8px;
}

div.bbs_detail label {
  width: 30%;
  background-color: #ddd;
}

div.bbs_detail span {
  width: 60%;
  background-color: #eee;
  text-align: right;
}

div.bbs_btn_box {
  width: 90%;
  text-align: right;
  padding: 8px;
  margin: 5px auto;
}

div.bbs_btn_box button {
  color: white;
  background-color: gray;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  margin: 5px;
}

div.bbs_btn_box button:hover {
  transition: 0.5s ease;
  background-color: white;
  color: gray;
  border: 1px solid lightgray;
}
