.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main_footer {
  background-color: #282c34;
  color: white;
}

.b_main input {
  padding: 10px;
  border: 1px solid lightgray;
  width: 500px;
  margin: 5px 5px;
}

.b_main table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 50%;
  height: 70px;
}

.b_main td,
.b_main th {
  border: 1px solid lightgray;
}
