@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");

.App {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.adr_input {
  border: 1px solid #33af86;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60vh;
  margin: 10px auto;
}

.adr_input input {
  font-size: 25px;
  margin: 5px auto;
  border: none;
  border-bottom: 1px solid #33af86;
  color: rgba(0, 0, 0, 0.4);
  width: 95%;
  outline: none;
}

.adr_input button {
  width: 40%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid lightgray;
  color: white;
  background-color: #33af86;
  font-size: 18px;
  cursor: pointer;
}

table {
  margin: 0 auto;
  font-size: 25px;
  border: 1px solid #33af86;
  border-collapse: collapse;
}

tbody tr {
  cursor: pointer;
}

td,
th {
  padding: 0.8rem;
}

th {
  background-color: #33af86;
  color: white;
  font-weight: 300;
}

td {
  border-top: 1px solid #33af86;
  color: gray;
}

h1 {
  font-weight: 100;
  color: #33af86;
}
